<div id="card" style="background: radial-gradient(circle at 50% 0%, {{first_theme this.types}} 36%, rgb(255, 255, 255) 36%);">
    <p class="hp">
        <span>ID</span>
        {{this.id}}
    </p>
    <img src="./images/pokemons/{{this.api_id}}.svg">
    <h2 class="poke-name">{{cap this.name}}</h2>
    <div class="types">
        {{#each (parse this.types)}} 
            <span style="background-color:{{one_theme this}};">{{this}}</span>
        
        {{/each}}
    </div>
    <div class="stats">
        <div>
            <h3>{{this.stat_hp}}</h3>
            <p>Health</p>
        </div>
        <div>
            <h3>{{this.stat_att}}</h3>
            <p>Attack</p>
        </div>
        <div>
            <h3>{{this.stat_def}}</h3>
            <p>Defense</p>
        </div>
        
    </div>
    <div class="stats">
        <div>
            <h3>{{this.stat_speed}}</h3>
            <p>Speed</p>
        </div>
         <div>
            <h3>{{this.stat_special_att}}</h3>
            <p>Sp. Attack</p>
        </div>
         <div>
            <h3>{{this.stat_special_def}}</h3>
            <p>Sp. Deffense</p>
        </div>
    </div>
    <div class="abilities">
        <p> <span class="h6">Abilities: </span>
            {{#each (parse this.abilities)}}
        <span class="pill">
            • {{cap this}}
        </span>
        {{/each}}
        </p>
        
    </div>
</div>


<script>
  

    
</script>